{
	frankenphp
	# Désactiver l'HTTPS automatique si derrière un reverse proxy
	# auto_https off
}

:80 {
	root * /app/public
	encode zstd br gzip

	php_server {
		# Turbo frame polling : désactiver le buffering
		resolve_root_symlink
	}
}
